


@font-face {
    font-family: SourceHanSansLite; /* 自定义名字*/
    src: url("../fonts/SourceHanSansLite.ttf");
}


html {
    background-color: rgb(71, 75, 80);
    font-size: 16px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: SourceHanSansLite;
}


body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(255, 153, 0);
}
/*当你在 margin 或 padding 这样的属性上设置两个值时，
第一个值影响元素的上下方向（在这个例子中设置为 0）；
第二个值影响左右方向。(这里，auto 是一个特殊的值，它将可用的水平空间平均分配给左和右）。
如 Margin 语法中所记载的那样，你也可以使用一个、两个、三个或四个值。*/


p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(79, 74, 75);
}


h1 {
    margin: 0;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(163, 150, 68);
    color: rgb(255, 236, 70);
}


a {
    color: rgb(255, 164, 52);
}
a:hover {
    color: brown;
}


img {
    display: block;
    margin: 0 auto;
}

/**********************************************/
/* id */

/* p */
#pageNum {
    text-align: center;
}